.fallback__message {
  margin-top: 1em;
  text-align: center;
  font-size: 1.6rem;
}
.fallback__link {
  color: var(--color-accent);
  transition: all 0.3s;
  text-decoration: none;
}
.fallback__link:hover {
  opacity: 0.7;
}
