.input-group {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.input-group__label {
  font-size: 1em;
  margin-bottom: 0.4em;
}
.input-group__input {
  border: none;
  padding: 0.8em 1.2em;
  border-radius: 2rem;
  border: 2px solid var(--color-secondary);
  font-size: 0.7em;
  /* box-shadow: 0 0 1re/ 0 rgba(0, 0, 0, 0.1); */
  /* background-color: acc; */
}
